{% macro delete_button(action, text) %}
<form method='post' action="{{action}}" class="destroy-form" style="display: inline-block;" data-confirm="Are you really sure you want to delete this?">
    <button type='submit' class='btn btn-danger'>{{text|default('Delete')}}</button>
</form>
{% endmacro %}

{% macro edit_button(action, text) %}
<form method='post' action="{{action}}" style="display: inline-block;">
    <button type='submit' class='btn btn-default'>{{text|default('Edit')}}</button>
</form>
{% endmacro %}