{% extends "base.html" %}
{% block content %}
<h1>Add a new game</h1>

<form>
    <div class="form-group">
        <label>Date</label>
        <input class="form-control" value="24.12.2016" type="text">
    </div>
    <div class="form-group">
        <label>Opponent</label>
        <input class="form-control" value="Santa Claus" type="text">
    </div>


    <div class="radio">
        <label class="label label-success">
            <input type="radio" name="optradio">Victory
        </label>
    </div>
    <div class="radio">
        <label class="label label-default">
            <input type="radio" name="optradio">Draw
        </label>
    </div>
    <div class="radio">
        <label class="label label-danger">
            <input type="radio" name="optradio">Loss
        </label>
    </div>


    <div class="form-group">
        <label>Moves</label>
        <input class="form-control" value="1. f3 e5 2.g4 Qh4#" type="text">
    </div>
    <div class="form-group">
        <label>Notes</label>
        <input class="form-control" value="I got fooled" type="text">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Add game</button>
    </div>
</form>
{% endblock %}