{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
<h1>Game {{game.game_id}}</h1>

<p>
    {{forms.delete_button("#{base_path}/game/#{game.game_id}/delete")}}
    {{forms.edit_button("#{base_path}/game/#{game.game_id}/edit")}}
</p>

<ul>
    <li><strong>Date:</strong> {{game.game_date}}</li>
    <li><strong>Opponent:</strong>{{game.opponent}}</li>
    <li><strong>Result:</strong>
        {% if game.game_result=='draw' %}
        <label class="label label-default">Draw</label>
        {% elseif game.game_result=='loss'%}
        <label class="label label-danger">Loss</label>
        {% else %}
        <label class="label label-success">Victory</label>
        {% endif %}
    </li>
    <li><strong>Date modified:</strong>{{game.modified}}</li>
</ul>

<h2>Notes:</h2>
<p>
    {{game.notes}}
</p>
{% endblock %}