{% extends "base.html" %}
{% block content %}
<h1>Editing game {{game.game_id}}</h1>

{% if errors %}
<div class="alert alert-danger">
    <ul>
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<form method="post" action="{{base_path}}/game/{{game.game_id}}">
    <div class="form-group">
        <label>Tournament</label>
        <br>
        <select name="tournament">
            <option value=""></option>
            {% for tourney in participations %}
            <option value="{{tourney.tournament_id}}">{{tourney.name}}</option>
            {% endfor %}
        </select>
        <br>
        <label>Date</label>
        <br>
        <input name="game_date" type="date" value="{{game.game_date}}" required>
        <br>
        <label>Opponent</label>
        <br>
        <input name="opponent" type="text" value="{{game.opponent}}" size="20" maxlength="20" required>
    </div>

    <div class="radio">
        <label class="label label-success">
            {% if game.game_result=='victory' %}
            <input name="result" type="radio" value='victory' checked>Victory
            {% else %}
            <input name="result" type="radio" value='victory'>Victory
            {% endif %}
        </label>
        <br>
        <label class="label label-default">
            {% if game.game_result=='draw' %}
            <input name="result" type="radio" value='draw' checked>Draw
            {% else %}
            <input name="result" type="radio" value='draw'>Draw
            {% endif %}
        </label>
        <br>
        <label class="label label-danger">
            {% if game.game_result=='loss' %}
            <input name="result" type="radio" value='loss' checked>Loss
            {% else %}
            <input name="result" type="radio" value='loss'>Loss
            {% endif %}
        </label>
    </div>

    <div class="form-group">
        <label>Notes</label>
        <br>
        <textarea name="notes" placeholder="{{game.notes}}" cols="100" rows="10" 
                  maxlength="5000"></textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save changes</button>
    </div>
</form>
{% endblock %}
