{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
<h1>Editing game {{game.game_id}}</h1>

{% if errors %}
<div class="alert alert-danger">
    <ul>
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<form method="post" action="{{base_path}}/game/{{game.game_id}}">
    <div class="form-group">
        <label>Tournament</label>
        <br>
        <select class="form-control" name="tournament" style="width:200px">
            <option value="0"></option>
            {% for tourney in participations %}
            {% if tourney.tournament_id==game.tournament %}
            <option value="{{tourney.tournament_id}}" selected>{{tourney.tname}}</option>
            {% else %}
            <option value="{{tourney.tournament_id}}">{{tourney.tname}}</option>
            {% endif %}
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label>Date</label>
        <br>
        <input name="game_date" type="date" value="{{game.game_date}}" required>
        <br>
        <label>Opponent</label>
        <br>
        <input name="opponent" type="text" value="{{game.opponent}}" size="20" maxlength="20" required>
    </div>

    <div class="radio">
        {{forms.victory_button("#{game.game_result}")}}
        <br>
        {{forms.draw_button("#{game.game_result}")}}
        <br>
        {{forms.loss_button("#{game.game_result}")}}
    </div>


    <div class="form-group">
        <label>Notes</label>
        <br>
        <textarea name="notes" cols="100" rows="10" 
                  maxlength="5000">{{game.notes}}</textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save changes</button>
    </div>
</form>
{% endblock %}
