{% extends "base.html" %}
{% block content %}
<h1>Add a new game</h1>
{% if errors %}
<div class="alert alert-danger">
    <ul>
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<form method="post" action="{{base_path}}/game">
    <div class="form-group">
        <label>Tournament</label>
        <br>
        <select class="form-control" name="tournament">
            <option value="0"></option>
            {% for tourney in participations %}
            <option value="{{tourney.tournament_id}}">{{tourney.tname}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label>Date</label>
        <br>
        <input name="game_date" type="date" value="{{game.game_date}}" required>
        <br>
        <label>Opponent</label>
        <br>
        <input name="opponent" type="text" value="{{game.opponent}}" size="20" maxlength="20" required>
    </div>

    <div class="radio">

        {% if game.game_result=='victory' %}
        <label class="label label-success">
            <input name="result" type="radio" value='victory' checked>Victory
        </label>
        {% else %}
        <label class="label label-success">
            <input name="result" type="radio" value='victory'>Victory
        </label>
        {% endif %}
        <br>

        {% if game.game_result=='draw' %}
        <label class="label label-default">
            <input name="result" type="radio" value='draw' checked>Draw
        </label>
        {% else %}
        <label class="label label-default">
            <input name="result" type="radio" value='draw'>Draw
        </label>
        {% endif %}

        <br>

        {% if game.game_result=='loss' %}
        <label class="label label-danger">
            <input name="result" type="radio" value='loss' checked>Loss
        </label>
        {% else %}
        <label class="label label-danger">
            <input name="result" type="radio" value='loss'>Loss
        </label>
        {% endif %}

    </div>

    <div class="form-group">
        <label>Notes</label>
        <br>
        <textarea name="notes" placeholder="{{game.notes}}" cols="100" rows="10" 
                  maxlength="5000"></textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% endblock %}