{% extends "base.html" %}
{% block content %}
<h1>Add a new game</h1>

<form method="post" action="{{base_path}}/game">
    <div class="form-group">
        <label>Tournament</label>
        <input name="tournament" class="form-control" type="number">
    </div>
    <div class="form-group">
        <label>Date</label>
        <input name="played" class="form-control" type="date">
    </div>
    <div class="form-group">
        <label>Opponent</label>
        <input name="opponent" class="form-control" type="text">
    </div>

    <div class="radio">
        <label class="label label-success">
            <input name="victory" type="radio">Victory
        </label>
    </div>
    <div class="radio">
        <label class="label label-default">
            <input name="draw" type="radio">Draw
        </label>
    </div>
    <div class="radio">
        <label class="label label-danger">
            <input name="loss" type="radio">Loss
        </label>
    </div>

    <div class="form-group">
        <label>Moves</label>
        <input name="moves" class="form-control" type="text">
    </div>
    <div class="form-group">
        <label>Notes</label>
        <input name="notes" class="form-control" type="text">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Add game</button>
    </div>
</form>
{% endblock %}