{% extends "base.html" %}
{% block content %}


  <h1>Game 123456789</h1>
  
  <p>
    <button class="btn btn-danger">Delete</button> <a href="{{base_path}}/game/edit" class="btn btn-default">Edit</a>
  </p>
  
  <ul>
    <li><strong>Date:</strong> 24.12.2016</li>
    <li><strong>Opponent:</strong> Santa Claus</li>
    <li><strong>Result:</strong> <label class="label label-danger">Loss</label></li>
    <li><strong>Date modified:</strong> 24.12.2016</li>
  </ul>
  
  <h2>Moves:</h2>
  <p>
    1. f3 e5
    2. g4 Qh4#
  </p>
  
  <h2>Notes:</h2>
  <p>
      Fool's mate :D
  </p>
{% endblock %}