{% extends "base.html" %}
{% block content %}
<h1>Tournaments</h1>

<button class="btn btn-default" type="button">Add tournament</button>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Organizer</th>
            <th>Details</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>Xmas open</td>
            <td>24.12.2016</td>
            <td>Santa Claus</td>
            <td><a href="#">Link</a></td>
        </tr>
        <tr>
            <td>This is a tournament</td>
            <td>1.1.1</td>
            <td>Organizer</td>
            <td><a href="#">Link</a></td>
        </tr>
    </tbody>

</table>
{% endblock %}