{% extends "base.html" %}
{% block content %}
  <h1>Tournament 42</h1>
  
  <p>
    <button class="btn btn-danger">Delete</button> <a href="#" class="btn btn-default">Edit</a>
  </p>
  
  <ul>
     <li><strong>Name:</strong> The meaning of life</li>
    <li><strong>Start date:</strong> 24.12.2016</li>
    <li><strong>End date:</strong> 24.12.2016</li>
    <li><strong>Organizer:</strong> Santa Claus</li>
    <li><strong>Game format:</strong>BO3: 5/3</li>
    <li><strong>Tournament format:</strong> Single elimination</li>
    <li><strong>Participants:</strong> 30/64</li>
    <li><strong>Date modified:</strong> 24.12.2016</li>
  </ul>
  
  <h2>Details:</h2>
  <p>
      Sign up before 17.12.2016. Games will be played at chess.com and spectated 
      by Santa himself. If you try to cheat giving us false results you will be 
      pondering the meaning of your life for a while and declined access to future 
      tournaments.
      <br>
      <br>
      Games will start at 17:00, be sure to contact our admin 30 minutes beforehand 
      to be told your opponent.After your round has ended, contact admin for 
      details on on next round. Rounds will go off every 30 minutes until finals at 21:00.
      If you aren't ready within 5 minutes of round start, you will be eliminated.
      <br>
      <br>
      For more details contact SantaClaus@theRealOne.com.
  </p>
  
{% endblock %}