{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
<h1>Tournament {{tourney.tournament_id}}</h1>

<p>
    {% if player_logged_in.player_id==tourney.organizer %}
    {{forms.delete_button("#{base_path}/tournament/#{tourney.tournament_id}/delete")}}
    {{forms.edit_button("#{base_path}/tournament/#{tourney.tournament_id}/edit")}}
    {% endif %}
    {% if participation %}
<form method='post' action="{{base_path}}/participation/{{tourney.tournament_id}}/delete" style="display: inline-block;">
    <button type='submit' class='btn btn-default' name="tournament">
        Remove registration
    </button>
</form>
{% elseif tourney.participants < tourney.capacity %}
    <form method='post' action="{{base_path}}/participation/add" style="display: inline-block;">
        <button type='submit' class='btn btn-default' name="tournament" value="{{tourney.tournament_id}}">
            Join tournament
        </button>
    </form>
    {% else %}
    <form method='post' action="{{base_path}}/participation/add" style="display: inline-block;">
        <button type='submit' class='btn btn-default' name="tournament" value="{{tourney.tournament_id}}" disabled>
            Join tournament
        </button>
    </form>
    {% endif %}
</p>

<ul>
    <li><strong>Name:</strong>{{tourney.tname}}</li>
    <li><strong>Start date:</strong>{{tourney.start_date}}</li>
    <li><strong>End date:</strong> {{tourney.end_date}}</li>
    <li><strong>Organizer:</strong>
        <a href='{{base_path}}/player/{{org.player_id}}/profile'>{{org.pname}}</a>
    </li>
    <li><strong>Game format:</strong>{{tourney.game_format}}</li>
    <li><strong>Tournament format:</strong>{{tourney.tournament_format}}</li>
    <li><strong>Participants:</strong>{{tourney.participants}}</li>
    <li><strong>Capacity:</strong>{{tourney.capacity}}</li>
    <li><strong>Date modified:</strong>{{tourney.modified}}</li>
</ul>

<h2>Details:</h2>
<p>{{tourney.details}}</p>

{% endblock %}
