{% extends "base.html" %}
{% block content %}
<h1>Tournaments</h1>
<a href='{{base_path}}/tournament/new' class="btn btn-default">Add tournament</a>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Organizer</th>
            <th>Details</th>
        </tr>
    </thead>

    <tbody>
        {% if not tourneys is empty %}
        {% for tourney in tourneys %}
        {% if tourney.tournament_id!=0 %}
        <tr>
            <td>{{tourney.tname}}</td>
            <td>{{tourney.start_date}}</td>
            <td>{{tourney.organizer}}</td>
            <td><a href="{{base_path}}/tournament/{{tourney.tournament_id}}">Link</a></td>
        </tr>
        {% endif %}
        {% endfor %}
        {% endif %}
    </tbody>

</table>
{% endblock %}