{% extends "base.html" %}
{% block content %}

{% if errors %}
{% for error in errors %}
{{error}}
{% endfor %}
{%endif %}



<h1>{{player.pname}}'s tournament participations</h1>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Tournament name</th>
            <th>Start date</th>
            <th>End date</th>
            <th>Details</th>
        </tr>
    </thead>

    <tbody>
        {% if not participated is empty %}
        {% for participation in participated %}
        <tr>
            <td>{{participation.tname}}</td>
            <td>{{participation.start_date}}</td>
            <td>{{participation.end_date}}</td>
            <td><a href="{{base_path}}/tournament/{{participation.tournament_id}}">{{participation.tname}}</a></td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>

</table>
{% endblock %}